@import url(fonts.css);
@import url(partials/_variables.css);
@import url(partials/_global.css);

body{
  background-image: url(../img/);
  background-color:transparent;
}

html{
  scroll-behavior: smooth;
}



 /* Banner area */




.rainbow-text {
  /* Create a conic gradient. */
  /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
  background: #CA4246;
  background-color: #CA4246;
  background: conic-gradient(
    #CA4246 16.666%, 
    #E16541 16.666%, 
    #E16541 33.333%, 
    #F18F43 33.333%, 
    #F18F43 50%, 
    #8B9862 50%, 
    #8B9862 66.666%, 
    #476098 66.666%, 
    #476098 83.333%, 
    #A7489B 83.333%);
  
  /* Set thee background size and repeat properties. */
  background-size: 57%;
  background-repeat: repeat;
  
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  
  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-animation-rev 0.5s ease forwards;

  cursor: pointer;
}

/* Add animation on hover. */
.rainbow-text:hover {
  animation: rainbow-text-animation 0.5s ease forwards;
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-animation {
  0% {
    background-size: 57%;
    background-position: 0 0;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 300%;
    background-position: -9em 1em;
  }
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-animation-rev {
  0% {
    background-size: 300%;
    background-position: -9em 1em;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 57%;
    background-position: 0 0;
  }
}
.typed{
    font-style: italic;
    color: rgb(108, 11, 235);
}

.icon-bar {
	width: 22px; 
	height: 3px;
	background-color: #B6B6B6;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}

.navbar-brand h3{
  padding-left: 0 ;
  font-size: 32px;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--roboto);
 font-weight: bold;
    text-transform: uppercase;
   
    padding: 2rem 1.5rem;
    
    color:var(--title-color);
}
.header_area .main-menu .navbar-nav .active{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
     
}
.header_area .main-menu .navbar{
    padding: 0.3rem 6rem;
    margin-right: 24rem;
}


.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    background-clip: text;
    
}


/* end navigation */ 

/* Banner Area */ 




.site-main .site-banner .site-title h3{
    padding-top: 25%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 2rem 0;
    width: 90rem;
}
.banner-image{
    padding-left: 10%;
    margin-top: 7%;
}


/* End Banner Area */ 

/* Start About Area */ 

.about-area .about-image img{
  border-radius: 250px;
  height: 27rem;
  margin-left: 0rem;
  margin-top: 3.1rem;
  border: 10px;
  filter: grayscale(20%) brightness(1.1);
  transform: scale(1.1);
  box-shadow: 0 0 15px skyblue ;

}
.about-area .about-image img:hover{
  transform: scale(1.1);
  filter: unset;
  transition: all 500ms ease-in-out ;
  box-shadow: 0 0 15px 5px skyblue ;

}



.site-main .about-area{
    padding: 5rem 0rem;
    background-image: url(../img/mountain.jpg);
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/ 60px var(--roboto);
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}

/* End About Area */ 

/* Resume */ 
.underline{
  width: 100px;
    height: 5px;
    background-color: #1c6dc9;
    margin: 0 auto;
}

.section-title h2{
    text-align: justify;
    display: block;
    font: normal bold 49px/ 60px var(--roboto);
    letter-spacing: 18px;
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #45505b;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #0563bb;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #0563bb;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #f7f8f9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #0563bb;
}




/* Skills Area */ 

/*------/ Ico Circle /------*/
.ico-circle {
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;
    display: block;
  }

  .line-mf {
    width: 40px;
    height: 5px;
    background-color: #1c6dc9;
    margin: 0 auto;
}
  

.skills-box {
    background-color: rgb(244, 245, 248);
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    height: 24rem;
  }
  
  .skills-box:hover .ico-circle{
    transition: all 500ms ease;
    color: #fff;
    background-color: #0078ff;
    box-shadow: 0 0 0 10px #cde1f8;
  }
  
  .skills-box .service-ico {
    margin-bottom: 1rem;
    color: #1e1e1e;
  }
  
  .skills-box .ico-circle {
    transition: all 500ms ease;
    font-size: 4rem;
  }
  
  .skills-box .s-title {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    padding: .4rem 0;
  }
  
  .skills-box .s-description {
    color: #4e4e4e;
  }
  .skills-box .advanced{
    color: lawngreen;
    margin-left: 3.5rem;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.5px;
    font-style: italic;
  }
  .skills-box:hover .advanced{
    transition: all 0.15s ease-in-out;
    font-weight: 700;
    font-size: 17px;
    margin-left: 3.3rem;
  }

  .skills-box .intermediate{
    color:blue;
    margin-left: 2.5rem;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.5px;
    font-style: italic;
  }
  .skills-box:hover .intermediate{
    transition: all 0.15s ease-in-out;
    font-weight: 700;
    font-size: 17px;
    margin-left: 2.2rem;
  }
  .skills-box .begineer{
    color: yellow;
    margin-left: 4rem;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.5px;
    font-style: italic;
  }
  .skills-box:hover .begineer{
    transition: all 0.15s ease-in-out;
    font-weight: 700;
    font-size: 17px;
    margin-left: 3.8rem;
  }
  
  


/*  End Skills Area */ 





/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact h2{
    text-align: center;
}

.contact .info {
    width: 100%;
    background: #fff;
  }
  
  .contact .info i {
    font-size: 20px;
    color: #0563bb;
    float: left;
    width: 44px;
    height: 44px;
    background: #eef7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #45505b;
  }
  
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #728394;
  }
  
  .contact .info .email, .contact .info .phone {
    margin-top: 40px;
  }
  
  .contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
    background: #0563bb;
    color: #fff;
  }
  
  .contact .php-email-form {
    width: 100%;
    background: #fff;
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .php-email-form input {
    height: 44px;
  }
  
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }
  
  .contact .php-email-form button[type="submit"] {
    background: #0563bb;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .contact .php-email-form button[type="submit"]:hover {
    background: #0678e3;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: #f7f8f9;
    color: #45505b;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
  }
  
  #footer h3 {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0 0 15px 0;
  }
  
  #footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
  }
  
  #footer .social-links {
    margin: 0 0 40px 0;
  }
  
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #0563bb;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: #0678e3;
    color: #fff;
    text-decoration: none;
  }
  
  #footer .copyright {
    margin: 0 0 5px 0;
  }
  
  #footer .credits {
    font-size: 13px;
  }

  /* PROJECTS Area */ 
.card{
  background-color:rgb(248, 246, 246);
  border-radius: 15px;
  box-shadow: 2px 2px 8px #9b9a9a;
  transform: scale(0.9);
  
}

.card:hover{
  transition: all 500ms ease ;
    color: rgb(0, 0, 0);
    
    box-shadow: 0px 0px 0px 3px rgb(83, 107, 243);
    transform: scale(1);
    filter: brightness(1.05);
    transform: scale(0.9);
    
}
.card .btn{
  transform: scale(0.8);
  color: white;
  background-color: rgb(60, 189, 240);
  margin-left: -0.3cm;
  border-radius: 12px;

}
.card .btn:hover{
color:white;
background-color: blue;
transform: scale(0.9);
transition: all 500ms ease-in-out;
}
.card img{
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  height: 19rem;
}
.card img:hover{
  transform: scale(1.1);
  transition: all 500ms ease ;
  
}


  /* End Projects Area */ 

 
  
  
  /*  Modal Area */ 
  #enquirypopup .modal-dialog{
  
    position: relative;
    width: 8cm;
  
    
  }
  .form-control{
    margin-bottom: 0.3cm;
    margin-top: 0.3cm;
  }
  .custom-modal-header {
    text-align: center;
    color: #17b6bb;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-top: 4px solid;
}
.form-inline .form-control {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
.form-group .btn{
  margin-left: 4.95rem;
  color: white;
  background-color: rgb(61, 183, 231);
}
.form-group .btn:hover{
  background-color: blue;
  transform: scale(1.05);
  transition: ease-in-out 0.3s;


  /* End Modal Area */ 